# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Employees.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\tsets\RiderProjects\Employees\.idea\.idea.Employees\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
